<body id='new_post'>

  <head>
  <link href="https://fonts.googleapis.com/css?family=Cagliostro" rel="stylesheet">
  </head>

  <h2 id='logo'>ANONYMOUS BLOG</h2>

  <p><a id='enter' href="/create" target="_blank">ENTER</a></p>
  
</body>